.movie-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.movie-card img {
  width: 100%;
  height: auto;  /* Let the height adjust dynamically */
  border-radius: 8px;
  object-fit: cover;
}

.movie-card p {
  text-align: center;
  margin-top: 8px;
  font-size: 0.9rem;
}

.movie-poster {
  width: 100%;
  border-radius: 8px;
}

.no-image {
  width: 100%;
  padding-top: 150px;
  background: #eee;
  border-radius: 8px;
}

.movie-title {
  margin-top: 8px;
  font-size: 14px;
}

.ratings {
  font-size: 0.9em;
  color: #555;
}
.ratings p {
  margin: 2px 0;
}
