.movie-card {
  text-align: center;
}

.movie-poster {
  width: 100%;
  border-radius: 8px;
}

.no-image {
  width: 100%;
  padding-top: 150px;
  background: #eee;
  border-radius: 8px;
}

.movie-title {
  margin-top: 8px;
  font-size: 14px;
}
